@import "../../dist/hieknui";
//@import "../../dist/dark";
@primary: 'purple';

.tab-pane {
  overflow: hidden;
  padding: 24px;
  div.line {
    padding: 24px 0;
    .clearfix;
  }
}

.hu-row {
  *:nth-child(odd) .seagreen {
    background: fade(@color-primary, 50);
  }
}

#tab-6 {
  .hu-card {
    width: 100%;
  }
}

.seagreen {
  color: #fff;
  background: @color-primary;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.hu-card {
  float: left;
  .hu-card-head {
    line-height: 40px;
    padding: 0 8px;
  }
  .hu-card-body {
    width: 300px;
    height: 200px;
    text-align: center;
    line-height: 200px;
  }
}

.tab-pane {
  min-height: 350px;
}

.hu-select, .hu-dropdown {
  width: 150px;
}
