@import "../../dist/hieknui";
//@import "../../dist/dark";
@primary: 'purple';

.tab-pane {
  overflow: hidden;
}

.hu-row {
  *:nth-child(odd) .seagreen {
    background: fade(@color-primary, 50);
  }
}

.seagreen {
  color: #fff;
  background: @color-primary;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.hu-card {
  float: left;
  .hu-card-body {
    width: 300px;
    height: 200px;
    text-align: center;
    line-height: 200px;
  }
}