@import "../define";
@import "../mixins/button";

@btn-cls: ~"@{css-prefix}btn";

.@{btn-cls} {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: none;
  outline: 0 !important;
  .border-radius-normal();
  .btn-md;

  &.btn-xs {
    .btn-xs;
  }
  &.btn-sm {
    .btn-sm;
  }
  &.btn-md {
    .btn-md;
  }
  &.btn-lg {
    .btn-lg;
  }
  &.btn-disabled, &[disabled], &.disabled {

  }
  &.btn-primary {
    color: #fff;
    background: @color-primary;
    border-color: @color-primary;
    &.btn-active, &:active, &.active {

    }
    &:hover {

    }
  }
  &.btn-primary-outline {
    color: @color-primary;
    background: #fff;
    border-color: @color-primary;
    &.btn-active, &:active, &.active {
      color: #fff;
      background: @color-primary;
    }
    &:hover {
      color: #fff;
      background: @color-primary;
    }
  }
}