@import "../define";
@import "../mixins/pagination";

@pagination-cls: ~"@{css-prefix}pagination";

@color-page-text: @color-light;

.@{pagination-cls} {
  display: inline-block;
  & > li {
    float: left;
    color: @color-font-04;
    &:first-child {
      margin-left: 0 !important;
    }
    &.page-item {
      .border-radius;
      border: @divider-default;
      text-align: center;
      cursor: pointer;
      &:not(.disabled):hover {
        color: @color-primary;
        border-color: @color-primary;
      }
      &.active {
        color: @color-page-text !important;
        background: @color-primary !important;
        border-color: @color-primary;
      }
      &.page-next, &.page-prev {
        background: no-repeat center center;
        .icon-keyboard-arrow-right(@color-font-04);
        &:not(.disabled):hover {
          .icon-keyboard-arrow-right(@color-primary);
        }
      }
      &.page-next-multi, &.page-prev-multi {
        background: no-repeat center center;
        .icon-double-arrow-right(@color-font-04);
        &:not(.disabled):hover {
          .icon-double-arrow-right(@color-primary);
        }
      }
      &.page-last, &.page-first {
        background: no-repeat center center;
        .icon-last-page(@color-font-04);
        &:not(.disabled):hover {
          .icon-last-page(@color-primary);
        }
      }
      &.page-prev, &.page-prev-multi, &.page-first {
        transform: rotate(180deg);
      }
      &.disabled {
        .disabled
      }
    }
    &.page-jump {
      border: 0;
      width: auto;
      span {
        display: inline-block;
      }
      input {
        padding: 0;
        text-align: center;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
      button {
        padding: 0;
        vertical-align: -1px;
      }
    }
  }

  .pagination;

  &.pagination-xs{
    .pagination(16px, 2px);
  }

  &.pagination-sm{
    .pagination(24px, 4px);
  }

  &.pagination-md{
    .pagination;
  }

  &.pagination-lg{
    .pagination(48px, 16px, 16px);
  }

}
