@import "../define";
@import "../mixins/select";
@import "../mixins/select-dropdown";

@select-cls: ~"@{css-prefix}select";

.@{select-cls} {
  position: relative;
  display: inline-block;
  width: @input-width;
  span {
    display: block;
    border: @divider-default;
    color: @color-font-05;
    cursor: pointer;
    background: @color-general-ac05 no-repeat center right;
    .border-radius;
    .icon-arrow-drop-down(@color-font-05);
    .select-sm();
    padding: 0 16px 0 8px;
    .transition;
  }

  &:not(.disabled) span:hover {
    border-color: @color-primary;
    .icon-arrow-drop-down(@color-primary);
  }

  &.disabled span{
    .disabled
  }

  .@{select-dropdown-cls} {
    width: 100%;
  }

  &.select-xs {
    .select-xs;
  }
  &.select-sm {
    .select-sm;
  }
  &.select-md {
    .select-md;
  }
  &.select-lg {
    .select-lg;
  }
}

.@{select-dropdown-cls}{
  &.select-xs li {
    font-size: 12px;
    line-height: 24px;
  }
  &.select-sm li {
    font-size: 14px;
    line-height: 32px;
  }
  &.select-md li {
    font-size: 14px;
    line-height: 40px;
  }
  &.select-lg li {
    font-size: 18px;
    line-height: 48px;
  }
}