@import "../define";

@spin-cls: ~"@{css-prefix}spin";
@spin-container-cls: ~"@{css-prefix}spin-container";
@spin-color: @color-font-03;

.@{spin-container-cls} {
  display: inline-block;
  position: relative;
  .size(52px);
  &.spin-xs {
    .size(22px);
  }
  &.spin-sm {
    .size(28px);
  }
  &.spin-md {
    .size(52px);
  }
  &.spin-lg {
    .size(84px);
    &:after {
      color: @spin-color;
      content: 'loading';
      font-size: 12px;
      left: 20px;
      line-height: 82px;
      position: absolute;
      top: 0;
    }
  }
}

.@{spin-cls} {
  width: 100%;
  height: 100%;
  display: inline-block;
  .icon-spin(@spin-color, @size: 100%);
  -webkit-animation: spin-keyframes 2s infinite linear;
  animation: spin-keyframes 2s infinite linear;
}

@-webkit-keyframes spin-keyframes {
  .spin-keyframes;
}

@keyframes spin-keyframes {
  .spin-keyframes;
}