@import "../define";
@import "../mixins/tabs";

@tabs-cls: ~"@{css-prefix}tabs";
@tab-content-cls: ~"@{css-prefix}tab-content";

.@{tabs-cls} {
  border-bottom: @divider-default;
  border-width: 2px;
  .tabs-md();
  &:before {
    display: table;
    content: " ";
  }
  &.tabs-xs {
    .tabs-xs;
  }
  &.tabs-sm {
    .tabs-sm;
  }
  &.tabs-md {
    .tabs-md;
  }
  &.tabs-lg {
    .tabs-lg;
  }
  &.tabs-disabled, &[disabled], &.disabled {

  }
  & > li {
    padding: 15px 0;
    float: left;
    .transition;
    background:  no-repeat center 34px;
    a {
      color: @color-font-05;
      padding: 0 24px;
      display: block;
      border-left: @divider-default;
      .transition;
    }
    &:first-child a {
      border: 0;
    }
    &:hover a{
      color: @color-primary;
    }
    &.active {
      border-bottom: 2px solid @color-primary;
      background-image: url('data:image/svg+xml;utf8,<svg fill="@{color-primary}" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M5,17.5h14l-7-11L5,17.5z"/><path fill="none" d="M0,0h24v24H0V0z"/></svg>');
      a {
        color: @color-primary;
      }
    }
  }
  &.tabs-primary {
  }
}

.@{tab-content-cls} {
  & > .tab-pane {
    display: none;
    &.active {
      display: block;
    }
  }
}