@import "../define";
@import "../mixins/tag";

@tag-cls: ~"@{css-prefix}tag";

.@{tag-cls} {
  .border-radius;
  min-width: 40px;
  min-height: 20px;
  font-size: 12px;
  line-height: 12px;
  padding: 4px 8px;
  display: inline-block;
  cursor: default;
  .tag();
  .transition;
  i {
    margin:0 0 -2px 4px;
    .size(12px);
    cursor: pointer;
    background: no-repeat center center;
    .tag-bg-icon();
    .transition;
    display: none;
    &:hover {
      .tag-bg-icon(@color-error)!important;
    }
  }
  &.tag-primary {
    .tag(@color-primary, @color-primary-ac05, @color-primary-05);
    i{
      .tag-bg-icon(@color-primary);
    }
  }
  &.tag-action {
    border: @divider-default;
    padding: 3px 8px;
    i{
      display: inline-block;
    }
  }
}