@import "../define";

.textarea-xs() {
  line-height: 24px;
  font-size: 12px;
  padding: 0 8px;
}

.textarea-sm() {
  line-height: 32px;
  font-size: 14px;
  padding: 0 8px;
}

.textarea-md() {
  line-height: 40px;
  font-size: 14px;
  padding: 0 8px;
}

.textarea-lg() {
  line-height: 48px;
  font-size: 18px;
  padding: 0 8px;
}